*{
    padding: 0;
    margin: 0;
}
.element-users {
    background-color:none;
    height: 450px;
    width: 300px;
    
}

.integrantes{
    margin: auto;
    display: flex;
}

.user-img {
    display: inline;
    margin: 20px 0 0 50px;    
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 6px 6px 20px -4px rgba(44, 50, 50, 0.68);
}

.element-text {
background-color:none;
margin: 20px auto;
text-align: center;
color:whitesmoke;
}

h1.nome {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

p.sobre {
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}